body{
  margin: 0;
  background-color: bisque;
  font-size: 1em;
}

p{
  font-style: italic;
  &:hover{
    font-style: normal;
  }
}

div{
  font-size: 1.1em;
  border:{
    bottom-width: 2px;
    bottom-style: dotted;
    bottom-color: magenta;
  }
  p{
    font-size: 1.1em;
  }
}
